.App {
  text-align: center;
  font-family: 'Raleway';
  color: #566bf3;
  /* border: 1px solid red */
}

img{
  /* border: 1px solid green */
}

.director{
  display: flex;
  margin-top: 20px;
}

.posters{
  display: flex;
  flex-direction: row;
}

.poster-column{
  max-width: 50%;
  border: 1px solid red

}

.poster{
  border: 1px solid gray;
  justify-content: flex-start;
  max-width: 50%;
}