.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background-image: linear-gradient(45deg, rgba(0, 4, 40, .8), rgba(0, 78, 146, .5));
  min-height: 100vh;
}

h1{
  font-family: 'Raleway';
}

.posters-page{
  padding-bottom: 30px;
}

.homepage{
  margin-top: 20px;
  font-family: 'Raleway';
}

#seal{
  height: auto;
  width: 100%;
}

.poster{
  border: 3px solid gray;
  max-width: 100%;
  margin: 3px;
} 

.hide{ /* to hide the alert on the homepage once the x is clicked*/
  display: none;
}

nav{
  margin-bottom: 20px;
  font-family: 'Raleway'
}

.about{
  font-family: 'Oswald', sans-serif;
  text-align: left;
  padding-top: 4%;
}

/* .song{
  display: flex;
  align-items: center;
  justify-content: flex-start;
} */

.song-info{
  font-size: x-large;
  color: white;
}

/* .col-sm-4{
  border: 1px solid red;
} */

/* .col-sm-8{
  border: 1px solid green;
} */

/* .col-sm-6{
  border: 1px solid green;
} */